@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text-primary antialiased;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #2b3139 #161a1e;
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #161a1e;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #2b3139;
    border-radius: 3px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #3b4149;
  }
}
